
<%= form_with(model: user, local: true, html: {class: "user"}) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" align="center">
    <%= form.label :name %>
    <%= form.text_field :name ,class:"form-control form-control-lg col-4"%>
  </div>

  <div class="form-group" align="center">
    <%= form.label :email %>
    <%= form.text_field :email,class:"form-control form-control-lg col-4"  %>
  </div>

  <div class="form-group" align="center">
    <%= form.label :date_of_birth %>
    <%= form.date_field :date_of_birth ,class:"form-control form-control-lg col-4"%>
  </div>

  <div class="form-group" align="center">
    <%= form.label :adress %>
    <%= form.text_area :adress ,class:"form-control form-control-lg col-4"%>
  </div>

  <div class="form-group" align="center">
    <%= form.label :cite %>
    <%= form.text_field :cite ,class:"form-control form-control-lg col-4" %>
  </div>

  <div class="form-group" align="center">
    <%= form.label :country %>
    <%= form.text_field :country ,class:"form-control form-control-lg col-4" %>
  </div>

  <div class="form-group" align="center">
    <%= form.label :role %>
    <%= form.select :role, options_for_select([["Admin","admin"],["Docteur","docteur"],["Patient","patient"]]),{},class:"form-control form-control-lg col-4"%>

  </div>
  <div class="form-group" align="center">
    <%= form.label :avatar %>
    <%= form.file_field :avatar ,class:"form-control form-control-lg col-4"%>
  </div>
  <hr>
  <div class="form-group" align="center">
    <%= form.submit class:"btn btn-primary btn-user btn-block col-4" %>
  </div>
<% end %>
