
<%= form_with(model: user, local: true, html: {class: "user"}) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" align="center">
    <%= form.label :Nom_et_Prenom %>
    <%= form.text_field :name ,class:"form-control form-control-lg col-4"%>
  </div>

  <div class="form-group" align="center">
    <%= form.label :Email %>
    <%= form.text_field :email,class:"form-control form-control-lg col-4"  %>
  </div>

  <div class="form-group" align="center">
    <%= form.label :Date_de_naissance %>
    <%= form.date_field :date_of_birth ,class:"form-control form-control-lg col-4"%>
  </div>

  <div class="form-group" align="center">
    <%= form.label :Adress %>
    <%= form.text_area :adress ,class:"form-control form-control-lg col-4"%>
  </div>

  <div class="form-group" align="center">
    <%= form.label :Wilayas %>
    <%= form.select :cite, options_for_select(CS.states(:dz).map { |c| [c[1], c[0]] } ),{},class:"form-control form-control-lg col-4" %>

  </div>

  <div class="form-group" align="center">
    <%= form.label :Pays %>
    <%= form.select :country, options_for_select(CS.countries.map { |c| [c[1], c[0]] } ),{},class:"form-control form-control-lg col-4" %>
  </div>

  <div class="form-group" align="center">
    <%= form.label :Role %>
    <%= form.select :role, options_for_select([["Admin","admin"],["Docteur","docteur"],["Patient","patient"]]),{},class:"form-control form-control-lg col-4"%>
  </div>

  <div class="form-group" align="center">
    <%= form.label :Etat_de_compte %>
    <%= form.select :deactivated, options_for_select([["Activer","false"],["Desactiver","true"]]),{},class:"form-control form-control-lg col-4"%>
  </div>

  <div class="form-group" align="center">
    <%= image_tag @user.avatar.url(:medium), style: 'height:100%;width:auto;' %>
    <%= form.label :Photo_de_profile %>
    <%= form.file_field  :avatar ,class:"form-control form-control-lg col-4 "%>
  </div>

  <hr>
  <div class="form-group" align="center">
    <%= form.submit "Sauvegarder L'utilisateur" , class:"btn btn-primary btn-user btn-block col-4" %>
  </div>
<% end %>
