<div class="card">
  <div class="card-body">
    <div class="card-header ">
        <h1 style="color: #17a2b8" align="center"> Modification du mot de passe pour l'utilisateur  <br> <%= @user.name %></h1>
    </div>
    <div class="panel-body">
        
        <%#= link_to '', users_path ,class:"fas fa-arrow-left fa-2x  btn-warning btn-lg" %>
        <br>

        <%= form_for (@user) do |form| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          
          <div class="form-group" align="center">
            <%= form.label :Mot_de_passe %>
            <%= form.password_field :password,class:"form-control form-control-lg col-4" ,required: true%>
          </div>
          
          <div class="form-group" align="center">
            <%= form.label :Mot_de_passe_confirmation %>
            <%= form.password_field :password_confirmation,class:"form-control form-control-lg col-4",required: true %>
          </div>
          

          <hr>
          <div class="form-group" align="center">
            <%= form.submit "Sauvegarder mot de passe" ,class:"btn btn-success btn-user btn-block col-4"%>
          </div>
          
        <% end %>



      </div>
    </div>
  </div>
</div>


</div>


