
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800">Utilisateurs</h1>
      
    <a href="#" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-info-circle"> Total</i>
                    </span>
      <span class="text"><%= @users.count%></span>
    </a>
  
    <a href="<%= new_user_path %>" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-arrow-right"></i>
                    </span>
      <span class="text">Nouveau utilisateur</span>
    </a>
  
</div>


<!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-9 col-lg-8">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Utilisateurs</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
<!-- Card Body -->
<div class="card-body" >
  <table class="table table-bordered table-responsive" id="dataTable" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Date of birth</th>
      <th>Adress</th>
      <th>Cite</th>
      
      <th>Role</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.date_of_birth %></td>
        <td><%= user.adress %></td>
        <td><%= user.cite %></td>
        
        <td><%= user.role %></td>
        <td><%= user.deactivated %></td>
      <% if user.deactivated != true %>
        <td><%= link_to '', user,class:"fas fa-tv fa-2x  btn-success btn-lg"%></td>
        <td><%= link_to '', edit_user_path(user),class:"fas fa-edit fa-2x btn-primary btn-lg" %></td>
        <td><%= link_to '', user, method: :delete, data: { confirm: 'Are you sure?' } ,class:"fas fa-trash fa-2x btn-danger btn-lg"%></td>
      <%else%>
        <td><%= link_to '', user,class:"fas fa-tv fa-2x  btn-secondary btn-lg" %></td>
        <td><%= link_to '', edit_user_path(user),class:"fas fa-edit fa-2x btn-secondary btn-lg"%></td>
        <td><%= link_to '', user, method: :delete, data: { confirm: 'Are you sure?' },class:"fas fa-lock fa-2x btn-secondary btn-lg"%></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-3 col-lg-4">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Statistique</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                   <%= pie_chart User.group(:role).count %>
                  
                </div>
              </div>
            </div>
          </div>








   