<div class="card">
  <div class="card-body ">
    <div class="card-header">
        <h1 style="color: #17a2b8" align="center">Nouvel utilisateur</h1>
    </div>
        <hr>
        <%= link_to '', users_path ,class:"fas fa-arrow-left fa-2x  btn-warning btn-lg" %>
        <hr>



        <%= form_for(@user, html: {class: "user"}) do |f| %>

          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this provider from being saved:</h2>

              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <br>
          <div class="form-group" align="center">
            <%= f.label :nom %>
            <%= f.text_field :name, id: :user_name ,class:"form-control form-control-lg col-4"%>
          </div>
          
          <div class="form-group" align="center">
            <%= f.label :email %>
            <%= f.text_field :email, id: :user_email ,class:"form-control form-control-lg col-4"%>
          </div>
          
          <div class="form-group" align="center">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password",class:"form-control form-control-user col-4" %>
          </div>

          <div class="form-group" align="center">
            <%= f.label :date_of_birth %>
            <%= f.date_field :date_of_birth ,class:"form-control form-control-lg col-4"%>
          </div>

            <div class="form-group" align="center">
              <%= f.label :adress %>
              <%= f.text_area :adress ,class:"form-control form-control-lg col-4"%>
            </div>

            <div class="form-group" align="center">
              <%= f.label :country %>
              <%= f.select :country ,class:"form-control form-control-lg col-4" %>
            </div>

            <div class="form-group" align="center">
              <%= f.label :cite %>
              <%= f.select :cite ,options_for_select([["Setif","setif"],["Alger","alger"],["Oran","Oran"]]),{},class:"form-control form-control-lg col-4" %>
            </div>

            

          <div class="form-group" align="center">
            <%= f.label :role %>
            <%= f.select :role, options_for_select([["Admin","admin"],["Utilisateur","utilisateur"],["Public","public"]]),{},class:"form-control form-control-lg col-4"%>
          </div>

          <div class="form-group" align="center">
            <%= f.label :avatar %>
            <%= f.file_field :avatar ,class:"form-control form-control-lg col-4"%>
          </div>
          
          <hr>
          <div class="form-group" align="center">
            <%= f.submit class:"btn btn-success btn-user btn-block col-4" %>
          </div>
          

        <% end %>

      </div>
    </div>
  </div>
</div>
