<div class="card">
  <div class="card-body">
    <div class="card-header ">
        <h1> Nom d'utilisateur: <%= @user.name%> </h1>
    </div>
    <div class="panel-body">
        <hr>
        <%= link_to '', edit_user_path(@user),class:"fas fa-edit fa-2x btn-primary btn-lg" %> |
        <%= link_to '', users_path ,class:"fas fa-arrow-left fa-2x  btn-warning btn-lg"%> |
        <%= link_to '', "change_passd/#{@user.id}" ,class:"fas fa-pen-nib fa-2x  btn-danger btn-lg"%>
        <hr>
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Nom</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @user.name %></div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Email</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @user.email %></div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Role</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @user.role %></div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-comments fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Date of birth</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @user.date_of_birth %></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-comments fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
     
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Adress</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @user.adress %></div>
              </div>
              <div class="col-auto">
                <i class="fas fa-comments fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Cite</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @user.cite %></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Country</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @user.country %></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Image</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= image_tag @user.avatar.url(:medium) ,class:"rounded"%></div>
              </div>

            </div>
          </div>
        </div>
      </div>


      </div>
    </div>
  </div>




















