<div class="col-md-12">



<!-- Load Leaflet from CDN -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
      integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
      crossorigin=""/>

<!-- Load Esri Leaflet from CDN -->
<script src="https://unpkg.com/esri-leaflet@2.2.4/dist/esri-leaflet.js"
        integrity="sha512-tyPum7h2h36X52O2gz+Pe8z/3l+Y9S1yEUscbVs5r5aEY5dFmP1WWRY/WLLElnFHa+k1JBQZSCDGwEAnm2IxAQ=="
        crossorigin=""></script>

<!-- Load Esri Leaflet Geocoder from CDN -->
<link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.14/dist/esri-leaflet-geocoder.css"
      integrity="sha512-v5YmWLm8KqAAmg5808pETiccEohtt8rPVMGQ1jA6jqkWVydV5Cuz3nJ9fQ7ittSxvuqsvI9RSGfVoKPaAJZ/AQ=="
      crossorigin="">
<script src="https://unpkg.com/esri-leaflet-geocoder@2.2.14/dist/esri-leaflet-geocoder.js"
        integrity="sha512-uK5jVwR81KVTGe8KpJa1QIN4n60TsSV8+DPbL5wWlYQvb0/nYNgSOg9dZG6ViQhwx/gaMszuWllTemL+K+IXjg=="
        crossorigin=""></script>



<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />



<%= javascript_include_tag('lib/leaflet.ajax.min.js') %>

<%= javascript_include_tag('lib/L.Control.Locate.min.js') %>
<%= stylesheet_link_tag "lib/L.Control.Locate.min.css" %>

<%= stylesheet_link_tag "lib/Control.Coordinates.css" %>
<%= javascript_include_tag('lib/Control.Coordinates.js') %>

<%= javascript_include_tag('lib/leaflet.browser.print.min.js') %>

<%= stylesheet_link_tag "lib/leaflet-search.css" %>
<%= javascript_include_tag('lib/leaflet-search.js') %>

<%= stylesheet_link_tag "lib/leaflet-routing-machine.css" %>
<%= javascript_include_tag('lib/leaflet-routing-machine.js') %>
<%= javascript_include_tag('lib/Control.Geocoder.js') %>
<%= javascript_include_tag('lib/config.js') %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

  #info-pane {
    position: absolute;
    top: 70px;
    right: 10px;
    z-index: 400;
    padding: 1em;
    background: white;
  }
</style>

<style>
  body { margin:0; padding:0; }
  #map { position: absolute; top:0; bottom:0; right:0; left:0; }
  #map { height: 800px; }
</style>




<div id="map"></div>




<script>




  var map = L.map('map',{
      center: [36.1700, 5.5199],
      zoom: 12,
      fullscreenControl: true
      
  });
  var tileUrl = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

function popUp(features,layer) {
        layer.bindPopup(
            'Nom :  ' + features.properties.name
            //+'<br>'+ '<img src="'+ features.properties.photo +'" style="width:300px;height:200px;">'
        );

    }




var geojson = new L.GeoJSON.AJAX('../med.json',{onEachFeature: popUp});



var cities  = L.layerGroup([geojson]);


var yes = {
    "ALL": cities,

};

var geo = {
    
    "MEDICAL": geojson,
    "ALL": cities
    
};


L.control.layers(yes, geo,{position :'topright'}).addTo(map);

L.control.locate().addTo(map);

var c = new L.Control.Coordinates({
        position: 'bottomright',

    });

    c.addTo(map);

    map.on('click', function(e) {
        c.setCoordinates(e);
    });


  



L.control.browserPrint().addTo(map);

 

var control = L.Routing.control(L.extend(window.lrmConfig, {
	waypoints: [
		L.latLng(36.1936 , 5.3744),
		L.latLng(36.2410, 5.5574)
	],
	geocoder: L.Control.Geocoder.nominatim(),
	routeWhileDragging: true,
	reverseWaypoints: true,
	showAlternatives: true,
	altLineOptions: {
		styles: [
			{color: 'black', opacity: 0.15, weight: 9},
			{color: 'white', opacity: 0.8, weight: 6},
			{color: 'blue', opacity: 0.5, weight: 2}
		]
	}
})).addTo(map);

L.Routing.errorControl(control).addTo(map);
//L.marker([ 36.6343,  4.6362]).bindPopup('<p>Wilaya<br />Setif</p>').openPopup().addTo(map);

//L.marker([36.763056, 3.050556]).bindPopup('<p>Wilaya<br />Alger</p>').openPopup().addTo(map);

//L.marker([36.365, 6.614722]).bindPopup('<p>Wilaya<br />Constantine</p>').openPopup().addTo(map);

//L.marker([27.870924, -0.285634]).bindPopup('<p>Wilaya<br />Adrar</p>').openPopup().addTo(map);



  </script>
  </div>