<%= form_with(model: doctor, html: {class: "user"}, :validate => true) do |form| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" align="center">
    <%= form.label :Nom_et_Prenom %>
    <%= form.text_field :name ,class:"form-control form-control-lg col-4"%>
  </div>

  <div class="form-group" align="center">
    <%= form.label :Date_naissance %>
    <%= form.date_field :date_of_birth ,class:"form-control form-control-lg col-4"%>
  </div>

  <div class="form-group" align="center">
    <%= form.label :sexe %>
    <%= form.select :sex,options_for_select([["Homme","H"],["Femme","F"]]),{} ,class:"form-control form-control-lg col-4"%>
  </div>

  <div class="form-group" align="center">
    <%= form.label :Spécialité %>
    <%= form.select :specialist,options_for_select([["Allergologie","Allergologie"],["Biologie bactériologie","Biologie bactériologie"],
    ["Biologie Biochimie","Biologie Biochimie"],["Biologie chimie ","Biologie chimie "],["Biologie virologie","Biologie virologie"],["Cardiologie","Cardiologie"],
    ["Chirurgie dentaire","Chirurgie dentaire"],["Chirurgie esthétique ","Chirurgie esthétique "],["Chirurgie infantile","Chirurgie infantile"],["Chirurgie maxillo-faciale","Chirurgie maxillo-faciale"],
    ["Chirurgie Orthopédie","Chirurgie Orthopédie"],["Chirurgie générale ","Chirurgie générale "],["Dermatologie","Dermatologie"],["Diabétologie","Diabétologie"],
    ["Endocrinologie","Endocrinologie"],["Epidémiologie","Epidémiologie"],["Gastrologie","Gastrologie"],["Gynécologie obstétrique","Gynécologie obstétrique"],
    ["Hématologie","Hématologie"],["Immunologie","Immunologie"],["Maladies Infectieuses","Maladies Infectieuses"],["Médecine de sport","Médecine de sport"],
    ["Médecine de travail","Médecine de travail"],["Médecine interne","Médecine interne"],["Médecine légale","Médecine légale"],["Néphrologie","Néphrologie"],
    ["Neurochirurgie","Neurochirurgie"],["Neurologie","Neurologie"],["O.R.L","O.R.L"],["Oncologie","Oncologie"],
    ["Ophtalmologie","Ophtalmologie"],["Pédiatrie","Pédiatrie"],["Pneumo-phtisiologie","Pneumo-phtisiologie"],["Psychologie","Psychologie"],
    ["Radiologie","Radiologie"],["Rééducation fonctionnelle","Rééducation fonctionnelle"],["Rhumatologie","Rhumatologie"],["Sénologie","Sénologie"],
    ["Urologie","Urologie"]
    ]),{} ,class:"form-control form-control-lg col-4"%>
    
  </div>

<div class="form-group" align="center">
    <%= form.label :Sous_Spécialité %>
    <%= form.select :sous_spesialist,options_for_select([["Allergologie","Allergologie"],["Biologie bactériologie","Biologie bactériologie"],
    ["Biologie Biochimie","Biologie Biochimie"],["Biologie chimie ","Biologie chimie "],["Biologie virologie","Biologie virologie"],["Cardiologie","Cardiologie"],
    ["Chirurgie dentaire","Chirurgie dentaire"],["Chirurgie esthétique ","Chirurgie esthétique "],["Chirurgie infantile","Chirurgie infantile"],["Chirurgie maxillo-faciale","Chirurgie maxillo-faciale"],
    ["Chirurgie Orthopédie","Chirurgie Orthopédie"],["Chirurgie générale ","Chirurgie générale "],["Dermatologie","Dermatologie"],["Diabétologie","Diabétologie"],
    ["Endocrinologie","Endocrinologie"],["Epidémiologie","Epidémiologie"],["Gastrologie","Gastrologie"],["Gynécologie obstétrique","Gynécologie obstétrique"],
    ["Hématologie","Hématologie"],["Immunologie","Immunologie"],["Maladies Infectieuses","Maladies Infectieuses"],["Médecine de sport","Médecine de sport"],
    ["Médecine de travail","Médecine de travail"],["Médecine interne","Médecine interne"],["Médecine légale","Médecine légale"],["Néphrologie","Néphrologie"],
    ["Neurochirurgie","Neurochirurgie"],["Neurologie","Neurologie"],["O.R.L","O.R.L"],["Oncologie","Oncologie"],
    ["Ophtalmologie","Ophtalmologie"],["Pédiatrie","Pédiatrie"],["Pneumo-phtisiologie","Pneumo-phtisiologie"],["Psychologie","Psychologie"],
    ["Radiologie","Radiologie"],["Rééducation fonctionnelle","Rééducation fonctionnelle"],["Rhumatologie","Rhumatologie"],["Sénologie","Sénologie"],
    ["Urologie","Urologie"]
    ]),{} ,class:"form-control form-control-lg col-4"%>
    
  </div>

<div class="form-group" align="center">
    <%= form.label :address %>
    <%= form.text_area :address ,class:"form-control form-control-lg col-4"%>
  </div>

  <div class="form-group" align="center">
    <%= form.label :Numero_d_ordre %>
    <%= form.text_field :num_ordre ,class:"form-control form-control-lg col-4"%>
  </div>



  <div class="form-group" align="center">
    <%= form.label :Wilayas %>
    <%# form.text_field :city ,class:"form-control form-control-lg col-4"%>
    <%= form.select :city, options_for_select(CS.states(:dz).map { |c| [c[1], c[0]] } ),{},class:"form-control form-control-lg col-4" %>
  </div>

  <div class="form-group" align="center">
    <%= form.label :Pays %>
    <%# form.text_field :country ,class:"form-control form-control-lg col-4"%>
    <%= form.select :country, options_for_select(CS.countries.map { |c| [c[1], c[0]] } ),{},class:"form-control form-control-lg col-4" %>
  </div>
  <div class="form-group" align="center">
    <%= form.label :Photo %>
    <%= form.file_field  :avatar ,class:"form-control form-control-lg col-4 "%>
  </div>
<hr>
  <div class="form-group" align="center">
    <%= form.submit "Sauvegarder Médecin" ,class:"btn btn-primary btn-user btn-block col-4"%>
  </div>
<% end %>



