<%= form_with(model: doctor, local: true, html: {class: "user"}) do |form| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group" align="center">
    <%= form.label :Nom_et_Prenom %>
    <%= form.text_field :name ,class:"form-control form-control-lg col-4"%>
  </div>

  <div class="form-group" align="center">
    <%= form.label :Date_naissance %>
    <%= form.date_field :date_of_birth ,class:"form-control form-control-lg col-4"%>
  </div>

  <div class="form-group" align="center">
    <%= form.label :sexe %>
    <%= form.select :sex,options_for_select([["Homme","H"],["Femme","F"]]),{} ,class:"form-control form-control-lg col-4"%>
  </div>

  <div class="form-group" align="center">
    <%= form.label :Spécialité %>
    <%= form.text_field :specialist ,class:"form-control form-control-lg col-4"%>
  </div>

  <div class="form-group" align="center">
    <%= form.label :address %>
    <%= form.text_area :address ,class:"form-control form-control-lg col-4"%>
  </div>



  <div class="form-group" align="center">
    <%= form.label :Wilayas %>
    <%# form.text_field :city ,class:"form-control form-control-lg col-4"%>
    <%= form.select :city, options_for_select(CS.states(:dz).map { |c| [c[1], c[0]] } ),{},class:"form-control form-control-lg col-4" %>
  </div>

  <div class="form-group" align="center">
    <%= form.label :Pays %>
    <%# form.text_field :country ,class:"form-control form-control-lg col-4"%>
    <%= form.select :country, options_for_select(CS.countries.map { |c| [c[1], c[0]] } ),{},class:"form-control form-control-lg col-4" %>
  </div>
<hr>
  <div class="form-group" align="center">
    <%= form.submit "Sauvegarder Médecin" ,class:"btn btn-primary btn-user btn-block col-4"%>
  </div>
<% end %>



