

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Recherche Avancée</h1>


<div class="col-xl-12 col-md-6 mb-4 res">
  <!-- Collapsable Card Example -->
  <div class="card shadow mb-4">
    <!-- Card Header - Accordion -->
    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
      <h6 class="m-0 font-weight-bold text-primary">Chercher Doctors</h6>
    </a>
    <!-- Card Content - Collapse -->
    <div class="collapse show" id="collapseCardExample">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          

            <%= form_tag doctors_search_path, class:"form-group" , method: :get do %>
              

                <div class="form-group align-self-start"  >
                  <%= label_tag 'Wilayas' , nil ,class: 'mr-sm-2' %>
                  <%= select_tag :city ,options_for_select([["Setif","setif"],["Alger","alger"],["Oran","oran"]] ),{prompt: "Select Wilaya",class:"form-control ", required: true}%>
                </div>
                &nbsp;
                <div class="form-group align-self-center">
                  <%= label_tag :Spécialité, nil ,class: 'mr-sm-2'%>
                  <%= select_tag :specialist, options_for_select(Doctor.all.map{|u| [u.specialist ] }.uniq),{prompt: "Spécialité",class:"form-control form-control", required: true} %>
                </div>
                &nbsp;
                <div class="form-group align-self-end">
                  <%= submit_tag "Chercher Doctors ",class:"btn btn-primary btn-user btn-block" %>
                </div>
                
            <% end %>
           
          
        </div>
        


        
      </div>
    </div>
  </div>

  <div class="row" id="table_search" style="padding: 10px">

  <% @doctos.each do |doc| %>

    <div class="card text-center border-info shadow h-100 py-2 col-4">
      <div class="card border-info shadow h-100 py-2">
      <div class="card-header">
        <strong style="color: #17a2b8" align="center">Dr. <%= doc.name %></strong>
      </div>

          <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Wilaya</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= doc.city %></div>
                  <hr>
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">specialist</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= doc.specialist %></div>
                  <hr>
                </div>
            </div>
        <br>
        <%= link_to 'Fiche Technique', doc ,class:"btn btn-success"%>
      </div>
            </div>

    </div>
  <% end %>

  <br>