
<div class="card">

    <div class="card-body">
    <div class="card-header">
     <h1 style="color: #17a2b8" align="center">Le médecin <br> <%= @doctor.name%> </h1>
     </div>
      <br>
<%= link_to '', edit_doctor_path(@doctor),class:"fas fa-tv fa-2x  btn-primary btn-lg" %> 
<%#= link_to '', doctors_path ,class:"fas fa-arrow-left fa-2x  btn-warning btn-lg"%>

<br>
      <hr>


    <br>

<!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-9 col-lg-8">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Fiche Technique Médecin</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                <div class="row">
                <div class="col">
<div class="my-2"></div>
                  <a href="#" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i>Nom Prenom</i>
                    </span>
                    <span class="text"><%= @doctor.name %></span>
                  </a>

<div class="my-2"></div>
                  <a href="#" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i>Date naissance</i>
                    </span>
                    <span class="text"><%= @doctor.date_of_birth %></span>
                  </a>

<div class="my-2"></div>
                  <a href="#" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i>Sexe</i>
                    </span>
                    <span class="text"><%= @doctor.sex %></span>
                  </a>

<div class="my-2"></div>
                  <a href="#" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i>Spécialité</i>
                    </span>
                    <span class="text"><%= @doctor.specialist %></span>
                  </a>

<div class="my-2"></div>
                  <a href="#" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i>Sous Spécialité</i>
                    </span>
                    <span class="text"><%= @doctor.sous_spesialist %></span>
                  </a>

<div class="my-2"></div>
                  <a href="#" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i>Numero d'ordre</i>
                    </span>
                    <span class="text"><%= @doctor.num_ordre %></span>
                  </a>

<div class="my-2"></div>
                  <a href="#" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i>Address</i>
                    </span>
                    <span class="text"><%= @doctor.address %></span>
                  </a>

<div class="my-2"></div>
                  <a href="#" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i>Wilaya</i>
                    </span>
                    <span class="text"><%= @doctor.city %></span>
                  </a>

<div class="my-2"></div>
                  <a href="#" class="btn btn-info btn-icon-split">
                    <span class="icon text-white-50">
                      <i>Pays</i>
                    </span>
                    <span class="text"><%= @doctor.country %></span>
                  </a>
</div>

         <div class="col">
             <%= image_tag @doctor.avatar.url(:medium),height: '100%', width: '100%',class: "img-thumbnail" %>
         </div>
</div>
</div>
</div>


<!-- Collapsable Card Example -->
                  <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseCardExample2" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample2">
                      <h6 class="m-0 font-weight-bold text-primary">Consultations</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="collapseCardExample2">
                      <div class="card-body">      
                        <table class="table table-bordered table-responsive" id="dataTable" width="100%" cellspacing="0">
                          <thead>
                          <tr>
                            <th>Patient</th>
                            <th>Wilaya</th>
                            <th>Address</th>
                            <th>Avis</th>
                            <th>Voir</th> 
                          </tr>
                          </thead>
                          <tbody>
                          <% @acha_pros.each { |s| %>
                              <tr>
                                <td><%= s.patient_name %></td>
                                <td><%= s.patient.city %></td>
                                <td><%= s.patient.address %></td>
                                <td><%= s.avis %></td>
                                <td><%= link_to '', s.patient ,class:"fas fa-tv fa-2x  btn-success btn-lg"%></td>
                                

                              </tr>                                 
                          <% } %>
                          </tbody>
                        </table>
                      </div>
                    </div>                    
                 </div>






          
        </div>
        </div>



       
